.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  animation: slideBackdrop 400ms ease-in-out forwards;
  transition: all 400ms ease-in-out;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: white;
  width: 400px;
  height: 100vh;
  padding: 1rem;
  z-index: 100;
  animation: slideCart 300ms ease-in-out forwards;
  transition: all 400ms ease-in-out;
}

.top-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart .close {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.items-container {
  overflow-y: scroll;
  height: 350px;
}

.items-container > h2 {
  text-align: center;
  padding-top: 5rem;
}

.cart-items {
  display: flex;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.product-image {
  width: 100px;
  flex: 0.7;
}

.product-info {
  flex: 1;
}

.product-info * {
  font-size: 0.8rem;
}

.quantity {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.quantity div {
  height: max-content;
  outline: 1px solid var(--boulder-100);
}

.quantity input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  border: 0;
  outline: 0;
  pointer-events: none;
  width: 50px;
}

.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.quantity button {
  border: 0;
  background: var(--boulder-50);
  font-size: 1rem;
  padding: 0.3rem;
  cursor: pointer;
}

.summary {
  margin: auto 0;
}

.checkout {
  width: 100%;
  padding: 0.5rem 1rem;
  background: var(--boulder-700);
  color: var(--boulder-50);
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: normal;
}

@keyframes slideCart {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideBackdrop {
  from {
    transform: translateX(-1200px);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  .cart {
    width: 300px;
  }
}
