.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--boulder-900);
  color: var(--boulder-50);
  width: 100%;
  padding: 0.5rem 1rem;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart {
  display: flex;
  gap: 1rem;
  align-items: center;
  background: var(--boulder-500);
  border-radius: 9999px;
  padding: 0.2rem 1.2rem;
  cursor: pointer;
}

@media (max-width: 720px) {
  .header h2 {
    display: none;
  }

  .header nav {
    margin: 0 auto;
  }
}
